#search-results{
    padding-top:20px;
}

img{
    border-radius:25px 25px 0px 0px;     
}
.search-box {
    position: relative;
    background: #130E0D;
    color: white;
    padding: 6em 4em 6em 4em;
    border-radius: 25px;
    text-align: center;
}

.search-box > div > div > section{
    color:#130E0D
}

.search-box .card .boxcard{
    background-color: #462C1A;
    color: white
}
.search-box .card:hover .boxcard{
    filter: brightness(180%);
}

#home-form{
    text-align: center;
    display: block;
    margin-left:auto;
    margin-right:auto;
}

#home-header, #home-header > span{
    color: white;
    text-align: center;
    background: #130E0D;
    padding-top:40px;
    margin-bottom:15px;
    border-radius: 25px;
}

#featured-drinks{
    padding-top:25px;
}

.selectedFilter{
    background: #462C1A;
}

.rowTime{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  grid-gap: 25px;
}

