.card {
	border-radius: 24px 24px 24px 24px;
	background: rgba(0,0,0,0);
}

.card .imgcard {
}

.card:hover .imgcard {
	filter: brightness(115%);
}

.card:hover .boxcard {
	background-color: #5D4637;
}