#recipe-box{
	background: #130E0D;
	color: white;
	font-family: 'Raleway', sans-serif;
	border-radius: 25px;
	padding-bottom: 25px;
}

#description-header{
	
}

#steps-box{

}

#list-rows{
	
}
#title{
	font-size: 30px;
	color: white;
	background-color: black;
	padding-top: 20px;
}
#image-box{
	width: 33%;
	
}
#drink-text{
	width: 66%;
	
}
.drink-img{
	width: 100%;
	height: auto;
	border-radius: 25px;
	padding: 10px;
	
}
.attribution-box{
	text-align:center;
	padding-bottom: 5px;
}
.attribution{
    width:280px;
	text-align: center;
	color: #C39873;
	font-size:10px;
	padding-top: -15px;
}

.attribution:hover{
	color: #AF7644;
}

.center {
	padding-top:15px;
  text-align: center;
}

.padded{
	padding-right: 100px;
}

@media (max-width:650px){
	#image-box{
		width:100%;
	}
	#drink-text{
		width:100%;
		margin-left: 5%;
		padding-right: 10%;
	}
}