#recipe-box{
	background: #130E0D;
	color: white;
	font-family: 'Raleway', sans-serif;
	border-radius: 25px
}

#steps-box{
	padding-left:10px;
}
#title{
	font-size: 30px;
	color: white;
	background-color: black;
	padding-top: 20px;
}

.drink-img{
	width: 100%;
	height: auto;
	border-radius: 25px;
}
.attribution-box{
	text-align:center;
	padding-bottom: 5px;
}
.attribution{
	width:280px;
	text-align: center;
	color: #C39873;
	font-size:12px;
}

.attribution:hover{
	color: #AF7644;
}

.center {
	padding-top:15px;
  text-align: center;
}

.padded{
	padding-right: 100px;
}