#recipeBox{
	background-color: black;
	color: white;
	font-family: 'Raleway', sans-serif;
	
}

#drinkImg{

	padding-top: 20px;
	padding-bottom: 18px;
}

#title{
	font-size: 30px;
	color: white;
	background-color: black;
	padding-top: 20px;
	
	
}

#imgBox{
	background-color: black; 
}

.center {
  margin: auto;
  width: 80%;
  padding: 10px;
}

.padded{
	padding-right: 100px;
}